/*==================GENERAL================== */
body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}


/*==================HEADER================== */

header {
    background: #f6f6f6;
    padding: 22px 0;
}

.logo {
    margin-top: 35px;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: #000;
    font-size: 18px;
    margin-right: 63px;
    padding: 26px 6px;
}

.header-container a:hover {
    background: #ffea00;
}

#menu-checkbox {
    display: none;
}

ul {
    display: flex;
}

nav {
    margin-top: 20px;
}

.top-slide {
    background: url(../img/slider_bg.jpg) ;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 280px;
}

.top-container {
    width: 85%;
    margin: 0 auto;
}

.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    padding: 0 13px;
    font-weight: bold;
}

.top-slide :nth-child(2) {
    margin-bottom: 10px;
}

.top-slide p {
    background: #414146;
    display: inline;
    font-size: 24px;
    padding: 0 4px;
    color: #fff;
}


/*==================ГЛАВНАЯ СТРАНИЦА================== */

#features {
    text-align: center;
    margin-bottom: 50px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pricing .card-section {
    margin-bottom: 50px;
}

.card_features {
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card-title-features {
    margin: 10px 0;
}

.card-img {
    width: 128px;
}

.card-tag {
    color: tomato;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-price {
    font-size: 2rem;
    font-weight: bold;
}

#works {
    text-align: center;
    margin-bottom: 50px;
}

#video {
    width: 280px;
    height: 157px;
    margin: 20px 0;
    border: none;
}

#pricing {
    text-align: center;
    margin-bottom: 50px;
}

#form {
    margin: 10px;
}

input,
select {
    margin: 10px 0;
}

input[type=email],
select {
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input[type=submit] {
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    background-color: gray;
    transition: background-color .5s;
}

input[type=submit]:hover {
    background-color: teal;
}


/*==================О НАС================== */

.wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    max-width: 1200px;
}

.tile {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
    /* z-index:99;
     */
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h2 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h3 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 300;
    margin: 10px 0 0 0;
    line-height: 25px;
    /* opacity:0;
     */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /* background-color:#99aeff;
     */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dots span {
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease;
    transform: translateY(30px);
}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}


/*tovars*/

.cards {
    width: 90%;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(16, minmax(auto, 60px));
    grid-gap: 40px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #F6E42C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding: 20px;
}

.card__content img {
    width: 30px;
}

.card__content h4 {
    text-align: center;
    font-size: 25px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
}

.info {
    position: relative;
    bottom: 35px;
    margin-left: 35px;
    font-weight: bold;
}

.car_price {
    position: relative;
    bottom: 31px;
    margin-left: 35px;
    font-weight: bold;
}

.text_colvo {
    font-size: 15px;
    border: 2px dashed black;
    border-radius: 2px;
    padding: 3px;
}

.card__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #414146;
    border-radius: 20px;
    color: yellow;
    cursor: pointer;
}


/*==================ГАЛЕРЕЯ================== */

.portfolio {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.portfolio h4 {
    background: #424147;
    padding: 0 8px;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    color: #ffea00;
}

.portfolio p {
    color: #424146;
    font-size: 16px;
}

.toggles button {
    background: none;
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
}

.toggles button:after {
    content: ' / ';
}

.toggles button:last-child:after {
    content: '';
}

.posts {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto;
}

.brand-slider {
    width: 93%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.brand-slider h4 {
    margin-top: 40px;
    background: #424147;
    padding: 0 8px;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    color: #ffea00;
    margin-bottom: 40px;
}

.brand-slider p {
    color: #424146;
    font-size: 16px;
    margin-bottom: 30px;
}

.rent {
    width: 100%;
    height: 80px;
    background: #424147;
    color: #ffea00;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}


/*==================КОНТАКТЫ================== */

#contacts_page {
    background: #f69a73;
}

.contacts_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.formcontact {
    grid-area: 1 / 1 / 2 / 2;
}

.mapcontact {
    grid-area: 2 / 1 / 3 / 2;
}

.formcontact {
    margin-bottom: 20px;
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.form-inner {
    padding: 50px;
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 520px;
    width: 100%;
    top: -20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 520px;
    width: 100%;
}

#gmap_canvas {
    width: 100%;
    height: 520px;
}

.wrp {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.map-box {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 100;
    width: 250px;
    box-shadow: -1px -1px 24px 0px rgba(50, 50, 50, 0.5);
}

.map-box p {
    font-size: 18px;
}

#map {
    width: 100%;
    height: 350px;
}


/*==================FOOTER================== */

footer {
    background: #414146;
    padding: 30px 0;
    color: #fff;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 35% 20%;
    grid-column-gap: 3%;
}

.about-us a {
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffea00;
    display: inline-block;
}

.contacts img {
    margin-top: 15px;
}

.images {
    margin-top: 10px;
}

.tweets p {
    margin-top: 20px;
}

footer #social {
    float: left;
    width: 50%;
    margin-top: 15px;
}

footer #social img {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
}

#top {
    bottom: 0;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 10px;
}


/*==================МОБИЛЬНАЯ ВЕРСИЯ================== */

@media all and (min-width: 480px) {
    h2 {
        font-size: 3rem;
        font-weight: 400;
        margin: 20px 0;
    }
    .card-features {
        margin: 20px;
    }
    #video {
        width: 560px;
        height: 315px;
        margin: 20px;
    }
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}

@media screen and ( max-width: 700px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 100px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
        font-size: 25px;
    }
    #menu-checkbox:checked+nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked+nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a {
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 120px;
    }
    .top-slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .top-slide h2 {
        font-size: 32px;
    }
    .top-slide p {
        font-size: 16px;
    }
    .specialize-container p {
        font-size: 16px;
    }
    .posts {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-gap: 1em;
        grid-template-columns: auto;
    }
    .rent {
        width: 100%;
        height: 40px;
        background: #424147;
        color: #ffea00;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: 10px repeat(3, 1fr) 10px;
        grid-gap: 10px;
    }
    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        margin-top: 15px;
    }
    .card {
        grid-column-end: span 6;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 100px;
    }
}

@media only screen and (max-width: 850px) {
    .news_block {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 1000px) {
    .posts {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-gap: 1em;
        grid-template-columns: auto;
    }
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
        font-size: 33px;
    }
    #menu-checkbox:checked+nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked+nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a {
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 30px;
        right: 120px;
    }
    .footer-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 3%;
    }
    .body {
        margin-top: -230px;
    }
    .news1 h1 {
        opacity: 1;
        color: white;
        margin-top: 35px;
        margin-left: 15px;
        font-size: 25px;
    }
    .news1 p {
        color: white;
        margin-left: 25px;
        font-size: 18px;
    }
    .news1 h2 {
        opacity: 1;
        color: white;
        margin-top: 35px;
        margin-left: 15px;
        font-size: 25px;
    }
    .news_block {
        margin-top: 20px;
    }
    .news_block img {
        width: 250px;
        float: right;
        /* Выравнивание по правому краю  */
        margin: 7px 100px 7px 7px;
        /* Отступы вокруг картинки */
    }
}